body{
	font-family:mono;
/*background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);*/
background: radial-gradient(circle farthest-corner at top left, #781211, #D45500);
/*background:repeating-radial-gradient(red, red 10%, white 10%, white 20%);*/
background-attachment: local;
}
p:first-child {
	color:#d4aa00;
}

a{
	color:#917C6F;
}
visted{
	color:#450;

}
.main_nav > ul{
	list-style-type:none;
	text-shadow: blue 0 0 3px,
				 cyan 4px 4px 10px,
				 red 8px 8px 14px;
				 display:table;

	
}
.main_nav > ul li {
	display: table-cell;
	justify-content: center;
	margin: auto 0;
	/*background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);*/
	/*border:1px solid black;*/
	padding:50px;
	margin:200px;

}

body:read-write{
	color:green;
}
emph{
	color:grey;	
	text-shadow: black 0 0 1px;
}

footer{
	text-align:center;
}

.anagram{
		color:red;

}
.anagram::first-letter{
	color:red;
	font-style:bold;
}

